@model Project.ViewModels.BookViews.GetByIdBookView
@{
    ViewBag.Title = "Удаление книги";
}

<div>
    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Автор</dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>Цена</dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <div>

        <a href="/Book/Delete/@Model.Id">Delete</a>

    </div>
</div>