<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="formGroup">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email" formControlName="email">
  </div>
  <div
    *ngIf="hasErrors('email',loginForm)" class="alert alert-danger">
    <div *ngIf="loginForm.get('email').errors.required">
      Email is required.
    </div>
    <div *ngIf="loginForm.get('email').errors.email">
      Email not validate
    </div>
  </div>

  <div class="loginForm">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password"
      formControlName="password">
  </div>
  <div
    *ngIf="hasErrors('password',loginForm)"
    class="alert alert-danger">
    <div *ngIf="loginForm.get('password').errors.required">
      Password is required.
    </div>
    <div *ngIf="loginForm.get('password').errors.minlength">
      Password minLength 6
    </div>
    <div *ngIf="loginForm.get('password').errors.pattern">
      Password not validate
    </div>
  </div>
  <div class="loginForm">
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>