<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="formGroup">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email" formControlName="email">
  </div>
  <div>
    <app-base [control]="loginForm.get('email')"></app-base>
  </div>

  <div class="loginForm">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password"
      formControlName="password">
  </div>
  <div>
    <app-base [control]="loginForm.get('password')"></app-base>
  </div>
  <div class="loginForm">
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>