<div>
    <form #f="ngForm" class="form-group">
        <div>
            <label for="numberOfBots">Numbers Of Bots: </label>
            <select class="form-control"name="numberOfBots" ngModel>
                <option value="" disabled>Choose a number</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
    
        </div>
    </form>
    
    <div *ngIf="gameExisting">
       <button class="btn btn-primary" (click)="play(f.value)">Play Game</button>
    </div>

    <div *ngIf="haveActiveGame">
      <label> You have active game already, you can`t start new</label>
      <br>
        <button class="btn btn-success" (click)="continueActiveGame()">Continue active</button>
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{error}}
    </div>
</div>