<div class="row">
  <div class="col-md-6 new-user-alert">
    <div *ngIf="brandNew" class="alert alert-success" role="alert">
      <strong>All set!</strong> Please login with your account
    </div>
    <h2>Login</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form [formGroup]="formGroup" (ngSubmit)="login(formGroup.value)">

      <div class="formGroup">
        <label for="email">Email</label>
        <input type="text" required name="email" class="form-control" placeholder="Email" formControlName="email">
      </div>
      <div
        *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)"
        class="alert alert-danger">
        <div *ngIf="formGroup.controls['email'].errors.required">
          Email is required.
        </div>
        <div *ngIf="formGroup.controls['email'].errors.email">
          Email not validate
        </div>

      </div>
      <div class="formGroup">
        <label for="password">Password</label>
        <input type="password" class="form-control" required name="password" placeholder="Password" formControlName="password">
      </div>
      <div
        *ngIf="formGroup.controls['password'].invalid && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)"
        class="alert alert-danger">
        <div *ngIf="formGroup.controls['password'].errors.required">
          Password is required.
        </div>
        <div *ngIf="formGroup.controls['password'].errors.minlength">
          Password minLength 6
        </div>
        <div *ngIf="formGroup.controls['password'].errors.pattern">
            Password not validate
          </div>
      </div>

      <div class="formGroup">
        <label for="rememberMe">Remember Me</label>
        <input type="checkbox" class="form-control" id="rememberMe" placeholder="RememberMe" name="rememberMe" formControlName="rememberMe">
      </div>
      <div class="formGroup">
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Login</button>
        <app-spinner [isRunning]="isRequesting"></app-spinner>
      </div>

      <div *ngIf="error" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{error}}
      </div>

    </form>
  </div>
</div>