.table {
    margin: auto;
    height: auto;
    width: auto;
    text-align: -webkit-center;
    min-width: -webkit-fill-available;
}
.td,tr,th {
    width: auto; 
    height: auto;
    text-align: -webkit-center;
    padding: 0.43rem;
    
}
.p {
    margin-bottom: 0rem;
}
.btn-success{
    margin-right: 1%;
}
.btn-danger{
    margin-right: 1%; 
}