table,td,th,tr {
    padding:0.1rem;
    text-align: -webkit-center;
    margin-bottom: auto;
    min-width: auto;
}
.table thead th{
    vertical-align: middle;
}
img{
    margin-bottom: 3px;
    margin-top: 3px; 
}
p {
    margin-bottom: 0rem;
}
.btn-success{
    margin-right: 1%;
}
.btn-danger{
    margin-right: 1%; 
}
@media (min-width: 360px) {
   table,td,th,tr {
        padding:0.1rem;
        text-align: -webkit-center;
        margin-bottom: auto;
        min-width: auto;
        font-size: 0.7rem;
    }
    img{
        width: 61px;
    }
}
@media (min-width: 560px) {
    table,td,th,tr {
         padding:0.1rem;
         text-align: -webkit-center;
         margin-bottom: auto;
         min-width: auto;
         font-size: 0.9rem;
     }
     img{
         width: 78px;
     }
 }
@media (max-width: 320px) {
    table,td,th,tr {
        padding:0.1rem;
        text-align: -webkit-center;
        margin-bottom: auto;
        min-width: auto;
        font-size: 0.6rem;
    }
    img{
    width: 52px;
    
}
}