table  { 
     border-collapse: collapse; 
     width: 100%; 
     text-align:center;
}
 th, td {
      padding: 0.5%;
}
 th { 
     background:#343a40; 
     color: rgb(255, 255, 255); 
}
::ng-deep .page-item.active .page-link {
    color: #fff;
    background-color: #343a40;
    border-color: #474c52;;
}
::ng-deep .page-link{
     color: #343a40;
    }
::ng-deep  .page-link:hover{ 
    color: #6b7075;
}
::ng-deep .pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    box-shadow: 0 0 0 0.2rem rgba(62, 63, 65, 0.25);
    color: #343a40;
    border-color: #ddd;
}

 @media (min-width: 560px) {
    .tableFixHead { 
        overflow-y: auto; 
        height: 34rem;
        width: auto;
        font-size: 1rem;
    }
    .tableFixHead th { 
        position: sticky; 
        top: 0; 
        border-top:0px;
    }
      img{
          width: 78px;
      }
      .btn-info {
        margin-right: 1%;
        padding: 7px 17px;
    }
    .btn-success {
        padding: 7px 17px;
    }
  }
 @media (max-width: 403px) {
    .tableFixHead    { 
        overflow-y: auto; 
        height: 25rem;
        width: auto;
        font-size: 0.8rem;
    }
    .tableFixHead th { 
        position: sticky; 
        top: 0; 
        border-top:0px;
    }
     img{
     width: 59px;
    }
    .btn-info {
        margin-right: 1%;
        padding: 7px;
    }
    .btn-success {
        padding: 7px;
    }
 } 
 @media (max-width: 360px) {
    .tableFixHead    { 
        overflow-y: auto; 
        height: 25rem;
        width: auto;
        font-size: 0.7rem;
    }
    .tableFixHead th { 
        position: sticky; 
        top: 0; 
        border-top:0px;
    }
     img{
     width: 52px;
    }
    .btn-info {
        margin-right: 1%;
        padding: 3px;
    }
    .btn-success {
        padding: 3px;
    }
 } 