<div class="container">
  <div class="col-md-12">
    <h1>My Book list TODO</h1>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Author</th>
          <th class="text-center">Date</th>
          <th class="text-center">Active</th>
          <th class="text-center">Price</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{ todo.name }}</td>
          <td>{{ todo.author }}</td>
          <td>{{ todo.due | date: 'EE, MMM dd' }}</td>
          <td class="text-center">
            <input type="checkbox" [checked]="todo.done" [disabled]="true">
          </td>
          <td>{{ todo.price }}</td>
          <td class="text-center">
            <button class="btn btn-info" (click)="showEditForm(todo)">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="btn btn-danger" (click)="removeToDo(todo)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="showNewForm()">
      <i class="fas fa-plus"></i>
    </button>
    <form *ngIf="showForm()" [formGroup]="formGroup" (ngSubmit)="saveTodo(formGroup.value)">
      <h2>{{headerText}}</h2>
      <div class="form-group">
        <label>Name:</label>
        <input class="form-control" formControlName="name" type="text" required minlength="3">
      </div>
      <div
        *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
        class="alert alert-danger">
        <div *ngIf="formGroup.controls['name'].errors.required">
          Name is required.
        </div>
        <div *ngIf="formGroup.controls['name'].errors.minlength">
          Name min lenght required 3
        </div>
        <div *ngIf="formGroup.controls['name'].errors.maxlength">
          Name max lenght required 10
        </div>
      </div>
      <div class="form-group">
        <label>Author:</label>
        <input class="form-control" formControlName="author" type="text" required minlength="3">
      </div>
      <div
        *ngIf="formGroup.controls['author'].invalid && (formGroup.controls['author'].dirty || formGroup.controls['author'].touched)"
        class="alert alert-danger">
        <div *ngIf="formGroup.controls['author'].errors.required">
          Author is required.
        </div>
        <div *ngIf="formGroup.controls['author'].errors.minlength">
          Author min lenght required 3
        </div>
      </div>
      <div class="form-group">
        <label>Date:</label>
        <input class="form-control" formControlName="due" type="date">
      </div>
      <p>Active: <input type="checkbox" name="done" formControlName="done" /></p>
      <div class="form-group">
        <label>Price:</label>
        <input class="form-control" formControlName="price" type="text" required minlength="2">
      </div>
      <div *ngIf="formGroup.controls['price'].invalid && (formGroup.controls['price'].dirty || formGroup.controls['price'].touched)"
        class="alert alert-danger">
        <div *ngIf="formGroup.controls['price'].errors.required">
          Price is required.
        </div>
        <div *ngIf="formGroup.controls['price'].errors.minlength">
          Price min lenght required 2
        </div>
        <div *ngIf="formGroup.controls['price'].errors.pattern">
          ONLY NUMB ERROR
        </div>
      </div>
      <p>
      <button type="submit" class="btn btn-success" [disabled]="formGroup.pristine || formGroup.invalid">
          <i class="far fa-save"></i>
      </button>

      <button type="submit" class="btn btn-warning" (click)="cancelEditTodo()">
          <i class="fas fa-backward"></i>
      </button>
      </p>
    </form>
  </div>
</div>