<div>
    <form #f="ngForm">
        <div>
            <label>Players: </label>
            <select name="player" ngModel>
                <option value="" disabled>Choose a player</option>
                <option *ngFor="let x of players" [ngValue]="x">
                    {{ x.name }}
                </option>
            </select>
            <button class="btn btn-success" (click)="showInput()"><i class="fas fa-plus"></i></button>
            <div *ngIf="showForm">
                <input type="text" #name placeholder="Add player name">
                <button class="btn btn-success" (click)="addNewPlayer(name.value)"><i class="fas fa-plus"></i></button>
                <button class="btn btn-danger" (click)="closeInput()"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <div>
            <label>Numbers Of Bots: </label>
            <select name="numberOfBots" ngModel>
                <option value="" disabled>Choose a number</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </form>
    <div *ngIf="brandNew" class="alert alert-success" role="alert">
        <strong>All set!</strong> PlayerCreate
    </div>
    <div>
        <button class="btn btn-primary" (click)="playGame(f.value)">Play Game</button>
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{error}}
    </div>
</div>