<div class="row">
  <div class="col-md-6">
    <h2>Please enter your information</h2>
  </div>
</div>
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="formGroup">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email" formControlName="email">
  </div>
  <div>
    <app-base [control]="registerForm.get('email')"></app-base>
  </div>
  <div class="formGroup">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" placeholder="Name" formControlName="name">
  </div>
  <div>
    <app-base [control]="registerForm.get('name')"></app-base>
  </div>
  <div class="formGroup">
    <label for="year">Year</label>
    <input type="text" class="form-control" name="year" placeholder="Year" formControlName="year">
  </div>
  <div>
    <app-base [control]="registerForm.get('year')"></app-base>
  </div>
  <div class="formGroup">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password"
      formControlName="password">
  </div>
  <div>
    <app-base [control]="registerForm.get('password')"></app-base>
  </div>
  <div class="formGroup">
    <label for="confirmPassword">Confirm password</label>
    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm password"
      formControlName="confirmPassword">
  </div>
  <div>
    <app-base [control]="registerForm.get('confirmPassword')"></app-base>
  </div>
  <div class="formGroup">
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
  </div>
</form>