<div>
    <div style="width: fit-content; margin-bottom: 7px;">
        <h3>Select number of bots</h3>
        <ng-select 
        [items]="numbersOfBotsSelectItems"
        (data)="getNumberOfBots($event)"
        placeholder="Choose a number">
        </ng-select>
      </div>
    <div class="playGameForm" *ngIf="activeStatus===StatusType.New">
        <button type="submit" class="btn btn-primary" (click)="play()">Play Game</button>
    </div>
    <div *ngIf="activeStatus===StatusType.Continue">
            <button class="btn btn-success" routerLink="/game/play">Continue active</button>
        </div>
</div>

