<div>
    <form [formGroup]="playGameForm" (ngSubmit)="play()">
        <div>
            <label for="numberOfBots">Numbers Of Bots: </label>
            <select class="form-control" name="numberOfBots" formControlName="numberOfBots" placeholder="NumberOfBots">
                <option value="" disabled>Choose a number</option>
                <option *ngFor="let bot of botNumbers">{{bot}}</option>
            </select>
        </div>
            <div class="playGameForm" *ngIf="playStatus">
                <button type="submit" class="btn btn-primary">Play Game</button>
            </div>
    </form>
    <div *ngIf="continueStatus">
            <button class="btn btn-success" (click)="continueActiveGame()">Continue active</button>
        </div>
</div>
