table,td,th,tr {
    padding:0.1rem;
    text-align: -webkit-center;
    margin-bottom: auto;
    min-width: auto;
    font-size: 0.7rem;
    
}
.table thead th{
    vertical-align: middle;
}
img{
    margin-bottom: 3px;
    margin-top: 3px; 
    width: 52px;
}
p {
    margin-bottom: 0rem;
}
.btn-success{
    margin-right: 1%;
}
.btn-danger{
    margin-right: 1%; 
}
@media (min-width: 560px) {
    table,td,th,tr {
         padding:0.1rem;
         text-align: -webkit-center;
         margin-bottom: auto;
         min-width: auto;
         font-size: 0.9rem;
     }
     img{
         width: 78px;
     }
 }
 @media (max-width: 411px) {
    table,td,th,tr {
         padding:0.1rem;
         text-align: -webkit-center;
         margin-bottom: auto;
         min-width: auto;
         font-size: 0.7rem;
     }
     img{
         width: 61px;
     }
     .btn-info {
        margin-right: 1%;
        padding: 6px 10px;
    }
    .btn-danger {
        margin-right: 1%;
        padding: 6px 10px;
    }
    .btn-success {
        padding: 6px 10px;
    }
 }
@media (max-width: 320px) {
    table,td,th,tr {
        padding:0.1rem;
        text-align: -webkit-center;
        margin-bottom: auto;
        min-width: auto;
        font-size: 0.6rem;
    }
    img{
    width: 52px;
    
}
.btn-info {
    margin-right: 1%;
    padding: 3px 10px;
}
.btn-danger {
    margin-right: 1%;
    padding: 3px 10px;
}
.btn-success {
    padding: 3px 10px;
}
}