<div *ngIf="haveActiveGame">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th colspan="6">New Game</th>
                </tr>
                <tr>
                    <th>
                        <label *ngIf="activeStatus===0">Game status : {{convertStatusToString(playGameView.status)}}</label>
                        <label *ngIf="activeStatus===1">Game status : {{convertStatusToString(continueGameView.status)}}</label>
                        <label *ngIf="activeStatus===3">Game status : {{convertStatusToString(endGameView.status)}}
                        </label>
                    </th>
                    <th>
                        <label *ngIf="activeStatus===0">Winner : {{ playGameView.winner }} </label>
                        <label *ngIf="activeStatus===1">Winner : {{ continueGameView.winner }} </label>
                        <label *ngIf="activeStatus===3">Winner : {{ endGameView.winner }} </label>

                    </th>
                    <th>
                        <div *ngIf="game">
                            <button class="btn btn-success" (click)="continue()"><i class="fas fa-plus"></i></button>
                            <button class="btn btn-danger" (click)="end()"><i class="fas fa-times"></i></button>
                            <button class="btn btn-info" (click)="backToHome()"><i
                                    class="fa fa-arrow-left"></i></button>
                        </div>
                        <div *ngIf="!game">
                            <button class="btn btn-primary" (click)="playAgain()">Play again with the same parametrs?</button>
                            <button class="btn btn-info" (click)="backToHome()"><i
                                    class="fa fa-arrow-left"></i></button>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
        <div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <th *ngFor="let head of headPlayerSteps">{{head}}</th>
                <th colspan="4"></th>
            </thead>
            <tbody>
                <tr>
                    <th *ngIf="activeStatus===0">{{ playGameView.player.status }}</th>
                    <th *ngIf="activeStatus===1">{{ continueGameView.player.status }}</th>
                    <th *ngIf="activeStatus===3">{{ endGameView.player.status }}</th>
                    <td *ngIf="activeStatus===0">
                <tr *ngFor="let step of playGameView.player.cards">
                    <img [src]="getCardLink(step)">
                </tr>
                </td>
                <td *ngIf="activeStatus===1">
                    <tr *ngFor="let step of continueGameView.player.cards">
                        <img [src]="getCardLink(step)">
                    </tr>
                </td>
                <td *ngIf="activeStatus===3">
                    <tr *ngFor="let step of endGameView.player.cards">
                      <img [src]="getCardLink(step)">
                    </tr>
                </td>
                </tr>
            </tbody>
            <thead class="thead-dark">
                <th colspan="8" *ngFor="let head of headBots">{{head}}</th>
            </thead>
            <thead class="thead-dark" *ngIf="activeStatus===0">
                <th *ngFor="let bot of playGameView.bots">{{bot.name}}</th>
                <th colspan="8"></th>
            </thead>
            <thead class="thead-dark" *ngIf="activeStatus===1">
                <th *ngFor="let bot of continueGameView.bots">{{bot.name}}</th>
                <th colspan="8"></th>
            </thead>
            <thead class="thead-dark" *ngIf="activeStatus===3">
                <th *ngFor="let bot of endGameView.bots">{{bot.name}}</th>
                <th colspan="8"></th>
            </thead>

            <tbody *ngIf="activeStatus===0">
                <td *ngFor="let bot of playGameView.bots">
                    <tr *ngFor="let step of bot.cards">
                      <img [src]="getCardLink(step)">
                    </tr>
                </td>
            </tbody>
            <tbody *ngIf="activeStatus===1">
                <td *ngFor="let bot of continueGameView.bots">
                    <tr *ngFor="let step of bot.cards">
                        <img [src]="getCardLink(step)">
                    </tr>
                </td>
            </tbody>
            <tbody *ngIf="activeStatus===3">
                <td *ngFor="let bot of endGameView.bots">
                    <tr *ngFor="let step of bot.cards">
                        <img [src]="getCardLink(step)">
                    </tr>
                </td>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="!haveActiveGame">
    <p><label>Back to home : </label></p>
    <button class="btn btn-success" (click)="backToHome()"><i class="fa fa-arrow-left"></i></button>
</div>