@model Project.ViewModels.OrderViews.GetAllOrderView
@{
    ViewBag.Title = "Все заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <td>User</td>
        <td>Address</td>
        <td>ContactPhone</td>

    </tr>
    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>@item.User</td>
            <td>@item.Address</td>
            <td>@item.ContactPhone</td>
            <td>
                <a asp-action="Details" asp-controller="Order" asp-route-id="@item.Id">Details of order</a>


            </td>
        </tr>
    }
</table>

<div>
    <a asp-action="Index" asp-controller="Book">Back to Book list</a>
</div>